@import "./colores.css";

.bgPrimaryColor{
    background-color: var(--primaryColor) !important;
}

.bgSecundaryColor{
    background-color: var(--secundaryColor) !important;
}
.colorPrimary{
    color: var(--primaryColor) !important;
}
.borderColorPrimary{
    border-color: var(--primaryColor) !important;
}
.text-Justify{
    text-align: justify;
}
#bgNosotros{
    background: url("../img/panorama-2405958_640.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 1.5rem 0rem;
    padding: 9rem 1rem;
}